
:root{
  --color1: #34A7C1;
}

.click_catalog{
  cursor: pointer;
}

html.edition_mode_off .btn_scan_catalog,
html.edition_mode_off .btn_add_new_catalog,
html.edition_mode_off .btn_delete_catalog{
  display: none;
}

.btn_add_new_catalog_container{
  text-align: center;
}
.btn_add_new_catalog{
  margin: auto;
}
